figure
{
	transition:all ease .6s 1s;
	box-shadow:0px 0px 1.4em rgba(174, 188, 191, 0.37), 
	0px 0px .4em rgba(110, 119, 116, 0.59), 
	0px 0px .4em rgba(10, 14, 10, 0.59), 
	0px 0px .98em rgba(10, 8, 9, 0.81);
	left: -3%;
	width:100%;
}
figure #video
{
	transition:all ease 1s .6s;
}
figure #List
{
	transition:all ease-in 1s .7s;
}
figure .video-bar{left: 1pt;}
@media (max-width:40em) and (min-width:0em){
	figure
	{
		transition:all linear .6s 1s;
		width:90%;
		height: 60%;
		background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	}
	figure #value
	{
		transform:translate(-49%, -637%);
	}
	figure #video
	{
		width: 70%;
		height: 70%;
	}
	
	.active
	{
		background: linear-gradient(to bottom, 
			rgba(255,255,255,1) 0%,
			rgba(241,241,241,0.76) 50%,
			rgba(225,225,225,0.76) 51%,
			rgba(246,246,246,0.52) 100%);
	}
	figure .video-bar{width: 80%;}
	figure label{left: 34em;bottom: 5.4em;width: 12%;}
	figure #Btn-group{right: -308%;bottom: 60%;}
}
@media (device-width:48em)
{
	figure
	{
		width:96%;
		height:553px;
		background:linear-gradient(to bottom, rgba(245,246,246,0.77) 0%,rgba(219,220,226,0.76) 20%,rgba(184,186,198,0.74) 49%,rgba(221,223,227,0.72) 85%,rgba(245,246,246,0.71) 100%);
	}
	figure #video
	{
		width: 668px;
		height: 453px;
	}
	figure #value
	{
		
		
		transform:translate(-53%, -484%);
	}
	figure .video-progress-bar
	{
	  background:linear-gradient(to bottom, rgba(245,246,246,0.77) 0%,rgba(219,220,226,0.76) 20%,rgba(184,186,198,0.74) 49%,rgba(221,223,227,0.72) 85%,rgba(245,246,246,0.71) 100%);
	}
	.active
	{
		color:#2ab0ed;
		background: linear-gradient(to bottom, 
			rgba(255,255,255,1) 0%,
			rgba(241,241,241,0.76) 50%,
			rgba(225,225,225,0.76) 51%,
			rgba(246,246,246,0.52) 100%);
	
	}
	figure .video-bar{width: 86%;}
	figure  label{right: 1rem;bottom: 5.2em;}
}
@media (min-width:48.5em) and (max-width:61.25em){
	figure
	{
		width:96%;
		height:691px;
		background:linear-gradient(to bottom, rgba(252,255,244,0.63) 0%,rgba(233,233,206,1) 100%);
	}
	figure #video
	{
		width: 880px;
		height:591px;
	}
	figure .video-bar{width: 86%;}
	figure #value
	{
		
		transform:translate(-59%, -584%);
	}
	.active
	{
		background:linear-gradient(to bottom, 
			rgba(252,255,244,0.3) 0%,
			rgba(233,233,206,1) 100%);
	}
	figure  label{right: 1rem;bottom: 5.2em;}
}
@media (device-width:64em)
{
	figure
	{
		width:98%;
		height:415px; 
		background:linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	}
	figure #video
	{
		width: 924px;
		height: 315px;
	}
	figure #value
	{
		
		transform:translate(-50%, -389%);
	}
	figure .video-progress-bar
	{
		background:linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	}
	.active
	{
		background:linear-gradient(to bottom, 
			rgba(255,255,255,1) 0%,
			rgba(255,255,255,0) 100%); 
	}
	figure >#controls label
	{right: 0.1rem;bottom: 5.2em;}
	figure ~.video-bar{width: 88%;}
}
@media (device-width:67.5em){
	figure {
		background: linear-gradient(to bottom, rgba(225,255,255,0.8) 0%,
			rgba(219,242,249,0.72) 47%,
			rgba(177,216,245,0.63) 100%);
		width: 98%;
		height: 20%;
	}
	figure #video{
		width: 90%;
		height:80%;
	}
	figure label{right: 1rem;bottom: 5.2em}
	figure .video-bar{width: 88%}
	figure #value{transform:translate(-2rem, -372%)}
	figure .video-progress-bar
	{
		background: linear-gradient(to bottom, 
		rgba(221,241,249,1) 0%,
		rgba(221,241,249,1) 40%,
		rgba(254,255,255,1) 43%,
		rgba(254,255,255,1) 45%,
		rgba(254,255,255,1) 48%,
		rgba(254,255,255,1) 50%,
		rgba(160,216,239,1) 55%,
		rgba(160,216,239,1) 100%)
	}
}
@media (device-width:80em) and (min-height: 50em) and (max-height: 64em){
	figure
	{ 	width: 1200px;
		height: 529px;
		background:linear-gradient(to bottom, rgba(205,235,142,0.78) 0%,rgba(164,234,11,0.7) 48%,rgba(165,201,86,0.62) 100%);
		left: -5%;
	}
	figure #video
	{
		width: 1100px;
		height: 429px;
	}
	figure #value
	{
		transform:translate(-49%, -470%);
	}
	figure #controls
	{
		background:linear-gradient(to bottom, rgba(157,213,58,0.5) 0%,rgba(161,213,79,0.61) 50%,rgba(128,194,23,0.61) 51%,rgba(124,188,10,0.71) 100%);
	}
	figure .video-load-bar
	{
		background:linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
	}
	figure .video-progress-bar
	{
	  background: linear-gradient(to bottom, rgba(143,200,0,1) 51%,rgba(143,200,0,1) 51%);
	}
	.active
	{
		color:#e6f0a3
	}
	figure >#controls label{right: 1rem;bottom: 5.2em;}
}
@media (device-width:80em) and (min-height: 30em) and (max-height: 50em){
	figure {
		width: 98%;
		height: 60%;	
		background:linear-gradient(to bottom, 
			rgba(180,227,145,0.27) 0%,
			rgba(97,196,25,0.4) 50%,
			rgba(180,227,145,0.52) 100%);
		left: -5%;
	}
	figure #video
	{
		width: 96%;
		height: 329px;
	}
	figure #value
	{
		transform:translate(-49%, -440%);
	}
	figure .video-load-bar
	{
		background:linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%);
	}
	figure .video-progress-bar
	{
	  background:linear-gradient(to bottom, 
	  	rgba(180,227,145,0.26) 0%,
	  	rgba(97,196,25,0.33) 29%,
	  	rgba(255,252,252,0.38) 47%,
	  	rgba(255,252,252,0.38) 48%,
	  	rgba(97,196,25,0.43) 67%,
	  	rgba(180,227,145,0.51) 100%);
	}
	.active
	{
		color:#DBF486
	}
	figure  label{right: 1rem;bottom: 5.2em;}

}
@media (min-height:30em) and (max-height:40em){
	figure #value
	{
		transform:translate(-49%, -355%);
	}
}
@media (device-width:106.6875em)
{

	figure
	{	width: 1200px;height: 622px;
		background:linear-gradient(to bottom, 
			rgba(254,204,177,1) 0%,
			rgba(241,116,50,1) 50%,
			rgba(234,85,7,1) 51%,
			rgba(251,149,94,1) 100%);
		left: -24%;
	}
	figure #video{width: 1100px;height: 522px;}
	figure #value
	{
		
		transform:translate(-51%, -534%);
	}
	figure .video-progress-bar
	{
		background:linear-gradient(to bottom, 
			rgba(242,130,91,1) 0%,
			rgba(229,91,43,1) 50%,
			rgba(240,113,70,1) 100%);
	}
	.active
	{
		background: linear-gradient(to bottom, 
			rgba(243,197,189,1) 0%,
			rgba(255,102,0,0.65) 49%,
			rgba(232,108,87,0.64) 50%,
			rgba(234,40,3,0.63) 51%,
			rgba(199,34,0,0.28) 100%);
		color: #131313;
	}
	figure label{right: 2rem;bottom: 85%;}
}
@media (device-width:112.1875em)
{

	figure
	{	width: 1200px;height: 622px;
		background:linear-gradient(to bottom, 
			rgba(254,204,177,1) 0%,
			rgba(241,116,50,1) 50%,
			rgba(234,85,7,1) 51%,
			rgba(251,149,94,1) 100%);
		left: -27%;
	}
	figure #video{width: 1100px;height: 522px;}
	figure #value
	{
		
		transform:translate(-51%, -534%);
	}
	figure .video-progress-bar
	{
		background:linear-gradient(to bottom, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%);
	}
	.active
	{
		background: linear-gradient(to bottom, 
			rgba(243,197,189,1) 0%,
			rgba(255,102,0,0.65) 49%,
			rgba(232,108,87,0.64) 50%,
			rgba(234,40,3,0.63) 51%,
			rgba(199,34,0,0.28) 100%);
		color: #131313;
	}
	figure label{right: 2rem;bottom: 85%;}
}
@media (device-width:120em) and (min-height:56.25em) and (max-height:75em){
	figure
	{	width: 108%;height: 486px;
		background:linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
		left: -33%;
	}
	figure #video{width: 1100px;height: 386px;}
	figure #value
	{
		transform:translate(-2rem,-12rem);
	}
	figure .video-bar
	{
	 	width:90%;
	}
	figure .video-progress-bar
	{
		background:linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%);
	}
	.active
	{
		background:linear-gradient(to bottom, 
			rgba(167,207,223,0.16) 0%,
			rgba(35,83,138,1) 100%); 
	}
	figure label{right: 1rem;bottom: 4.2rem;}

}
@media (min-width:81.25em) and (max-width:87.5em)
{
  figure
  {
    width: 104%;
    height:30%;
    left: -9%;
    background: linear-gradient(to bottom, 
    	rgba(167,199,220,1) 0%,
    	rgba(133,178,211,1) 100%)
  }
  figure #video
  {
    width: 97%;height: 80%;
  }
  figure #value
  {
    transform:translate(-50%, -438%);
  }
  figure .video-progress-bar{background: linear-gradient(to bottom, 
  	rgba(167,199,220,1) 0%,
  	rgba(255,255,255,0.83) 38%,
  	rgba(255,255,255,0.76) 53%,
  	rgba(133,178,211,0.55) 100%)}
  .active
  {
  	background:linear-gradient(to bottom, 
  		rgba(252,242,242,0.43) 0%,
  		rgba(252,242,242,0.58) 46%,
  		rgba(255,92,92,0.75) 100%);
  	 color: #752201;
  }
  figure label{right: 1rem;bottom: 5.2em;}
}
@media (min-width:90em) and (max-width:99em) and (max-height: 99em) and (min-height: 90em){
  figure
  {
    width: 104%;
    height:38%;
    left: -13%;
    background: linear-gradient(to bottom, 
    	rgba(167,199,220,1) 0%,
    	rgba(133,178,211,1) 100%)
  }
  figure #video
  {
    width: 97%;height: 80%;
  }
  figure #value
  {
    transform:translate(-50%, -501%);
  }
  figure .video-progress-bar{background: linear-gradient(to bottom, 
  	rgba(207,231,250,1) 43%,rgba(247,248,249,1) 53%,
  	rgba(247,248,249,1) 53%,rgba(99,147,193,1) 62%)}
  .active
  {
  	background:linear-gradient(to bottom, rgba(207,231,250,0.46) 0%,
  		rgba(207,231,250,0.44) 43%,rgba(247,248,249,0.44) 48%,
  		rgba(247,248,249,0.44) 50%,rgba(247,248,249,0.44) 55%,
  		rgba(247,248,249,0.44) 57%,rgba(99,147,193,0.44) 62%,
  		rgba(99,147,193,0.41) 100%);
  	 color: #752201;
  }
  figure label{right: 1rem;bottom: 5.2em;}
}
@media (min-height: 1400px) and (max-height: 1499px){
	figure
	{
		left: -15%
	}
	figure #value
	{
		transform:translate(-50%, -488%);
	}
figure  .video-load-bar
	{
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,
			rgba(255,255,255,1) 41%,
			rgba(237,237,237,1) 41%,rgba(243,243,243,1) 61%,
			rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%);
	}
	figure  .video-progress-bar
	{	
		background: linear-gradient(to bottom, rgba(127,163,189,1) 0%,
		rgba(127,163,189,1) 39%,rgba(32,163,158,1) 50%,
		rgba(127,163,189,1) 63%,rgba(127,163,189,1) 100%);
	}
	.active{
		background: linear-gradient(to bottom, rgba(243,243,243,0.47) 0%,
			rgba(255,255,255,0.48) 51%,
			rgba(255,255,255,0.49) 100%);
	}
}
@media (min-width:100em) and (max-width:105em) 
{
  figure
  {
    width: 104%;
    height:60%;
    left: -19%;
    background: linear-gradient(to bottom, 
    	rgba(167,199,220,1) 0%,
    	rgba(133,178,211,1) 100%)
  }
  figure #video
  {
    width: 97%;height: 80%;
  }
  figure #value
  {
    transform:translate(-50%, -13rem);
  }
  figure .video-progress-bar{background: linear-gradient(to bottom, 
  	rgba(167,199,220,1) 0%,
  	rgba(255,255,255,0.83) 38%,
  	rgba(255,255,255,0.76) 53%,
  	rgba(133,178,211,0.55) 100%)}
  .active
  {
  	background:linear-gradient(to bottom, 
  		rgba(252,242,242,0.43) 0%,
  		rgba(252,242,242,0.58) 46%,
  		rgba(255,92,92,0.75) 100%);
  	 color: #752201;
  }
  figure label{right: 1rem;bottom: 5.2em;}
}
@media (min-width:187.5em) and (max-width:312.5em)
{
	figure
		{
			height: 20%;
			background:linear-gradient(to bottom, rgba(255,255,136,0.77) 0%,rgba(255,255,249,0.69) 50%,rgba(255,255,136,0.6) 100%);
			left: -78%;
			width: 80rem;
		}
    figure #video
          {
            width:80%;
            height:80%;
          }
    figure #value
          {
          	transform:translate(-2em,-13em);
          }
    figure .video-load-bar
    {
    	background: linear-gradient(to bottom, rgba(255,255,255,0.58) 0%,rgba(237,237,237,0.64) 50%,rgba(255,255,255,0.69) 100%);
    }
    figure .video-progress-bar
          {
          	background: linear-gradient(to bottom, rgba(254,191,1,1) 0%,rgba(252,251,247,0.86) 50%,rgba(254,191,1,0.72) 100%);
          }
    .active
    {
    	background: linear-gradient(to bottom, 
    		rgba(234,239,181,1) 0%,
    		rgba(225,233,160,0.43) 100%);
    }
    figure label{right: 2rem;bottom: 5rem;}
}